.Home {}

.SummaryCardsGridContainer{
    display: block;
}

.SummaryCardsGridContainer div{
    display: flex;   
    flex-direction: column;     
    width: inherit;
}
.SummaryCardContainer {
    display: block;
    margin-right: 15px;
}
.SummaryCardsGridContainer .SummaryCard  {
    display: block;
    height: 110px;
    margin-bottom: 15px;
}
.SummaryCardsGridContainer .SummaryCard p {
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
    height: 71px;
    align-items: initial;
    justify-content: space-between;
}
.SummaryCardsGridContainer .SummaryCard p .SummaryAmount{
    text-align: center;
    background: #cccccc4f;
    border-radius: 7px;
    margin-top: 10px;
}
.SummaryCardsGridContainer .CardBadge {
    right: 14px;
    top: -109px;
}

@media (min-width: 768px) { 
    .SummaryCardsGridContainer{
    display: flex;
    width: -webkit-fill-available;
    justify-content: space-between;
    align-items: center;
        flex-direction: row;

    }
    .SummaryCardsGridContainer .CardBadge {
        top: 7px;
    }
    .SummaryCardsGridContainer div{
        display: flex;
        flex-direction: row;
        width: auto        
    }
    .SummaryCardsGridContainer .SummaryCard  {
        margin-bottom: auto;
    }

}